html, body { height:100%; }

.bg { 
	/* The image used */
	background-image: url("img/background.png");

	/* Full height */
	height: 100%; 
	width: 100%;

	/* Position */
	position: absolute;
	top: 0;
	left: 0;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.outer-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.inner-wrapper {
	display:table-cell;
	vertical-align:middle;
	padding:15px;
}

input#name:focus {
	box-shadow: 0 0 0 0.2rem rgba(111, 78, 55, 0.25);
}

input#name::placeholder {
	color: #6f4e37;
}

input#name {
	color: #6f4e37;
	background-color: #f2e8e1;
	border-color: #b9a393;
}

.coffee-color{
	color: #f2e8e1;
	border-color: #f2e8e1;
	background-color: #6f4e37;
}

.coffee-text{
	color: #6f4e37;
	border-color: #f2e8e1;
}

.form-container {
	border: 1px solid #aeaeae;
	padding-top: 15px;
	border-radius: 5px;
	background-color: #f5f5f5;
}

.alert.alert-coffee {
	color: #f2e8e1;
	background-color: rgba(111, 78, 55, 0.9);
	border-color: #6f4e37;
}
